*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(152, 141, 248), #fff);
}

main{
    display: inline-block;
    margin-top: 3%;
    padding: 15px;
    position: relative;
}

.pokedex{
    max-width: 425px;
    max-height: 500px;
    width: 100%;

}

.pokemon_image{
    position: absolute;
    left: 50%;
    bottom: 55%;
    transform: translate(-60%, 0);
    height: 14%;
}

.pokemon_name{
    color: rgb(31, 28, 28);
}

.pokemon_data{
    position: absolute;
    right: 27%;
    top: 54%;
    font-size: clamp(5px, 5vw, 15px);
    color: #aaa;
    text-transform: capitalize;
}

.form{
    position: absolute;
    left: 13%;
    top: 64%;
    width: 66%;
    padding: 2px;
}

.form input[type="search"]{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid rgb(31, 30, 30);
    border-radius: 5px;
    box-shadow: -2px 2px 0 #888, -3px 3px 0 rgb(31, 30, 30);
    font-size: clamp(5px, 5vw, 1rem);
}

.buttons{
    position: absolute;
    bottom: 12%;
    left: 13%;
    width: 66%;
    display: flex;
    gap: 15px;
    padding: 2px;
}

.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    color: #fff;
    background-color: #444;
    box-shadow: -2px 2px 0 #222, -3px 3px 0 #000;
    font-size: clamp(5px, 3vw, 1rem);

}

.button:active{
    border: none;
    box-shadow: inset -4px 4px 0  #222;
    font-size: clamp(5px, 3vw, 0.7rem);
}